apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: secure-nginx
  template:
    metadata:
      labels:
        app: secure-nginx
    spec:
      containers:
        - name: app
          image: nginx:1.25.5        # ✅ pinned version, no :latest
          securityContext:
            runAsNonRoot: true       # ✅ avoid root user
            runAsUser: 1000          # ✅ non-root UID
            readOnlyRootFilesystem: true
          resources:                  # ✅ requests + limits
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          ports:
            - containerPort: 80
          livenessProbe:              # ✅ health probes
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
